$maxMobile:"(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(max-width:768px)";
$minmedium:"(max-width:992px)";
$minlarge:"(max-width:1120px)";
$graycolor: rgb(151, 144, 144) ;
$redcolor: rgb(194, 56, 56);
$floatleft:left;
$floatright:right;
$textright:right;

