* {
  @include perfixer(box-sizing, border-box);
}
body{
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 992px) {
    max-width: 970px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.clearfix {
  clear: both;
}
.textcenter {
  @media (max-width: 767px) {
    text-align: center;
  }
}
